[package]
name = "quantiz-api"
version = "0.1.0"
authors = ["Quang Phan <contact.quangphan@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rocket = { version = "0.4.4", feature = [] }