name: Continuous Integration Configuration

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

env:
  POSTGRES_USER: quantiz
  POSTGRES_DB: quantiz
  POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
  POSTGRES_PORT: 5432
  POSTGRES_HOST: localhost
  API_VERSION: v0
jobs:
  ci:
    runs-on: ubuntu-latest
    container: 
      image: alpine   
    services:
      postgres:
        image: postgres:alpine
        env:
          POSTGRES_USER: ${{env.POSTGRES_USER}}
          POSTGRES_DB: ${{env.POSTGRES_DB}}
          POSTGRES_PASSWORD: ${{env.POSTGRES_PASSWORD}}
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
    - uses: actions/checkout@v2
    - name: Set environment variables
      run: |
        echo "::set-env name=DATABASE_URL::postgres://${{env.POSTGRES_USER}}:${{env.POSTGRES_PASSWORD}}@${{env.POSTGRES_HOST}}:${{env.POSTGRES_PORT}}/${{env.POSTGRES_DB}}"
        echo "::set-env name=ROCKET_DATABASES::{quantiz_db={url="${{env.DATABASE_URL}}"}}"
    # - name: Install latest nightly
    #   uses: actions-rs/toolchain@v1
    #   with:
    #       toolchain: nightly
    #       components: clippy
    #       override: true
    - name: Install diesel CLI
      uses: actions-rs/cargo@v1
        with:
          command: install
          args: diesel_cli
    - name: Hook up diesel -> postgres
      run: diesel setup --database-url=$DATABASE_URL
    - name: Build
      uses: actions-rs/cargo@v1
      with:
        command: build
        args: --verbose
    - name: Run tests
      uses: actions-rs/cargo@v1
      with:
        command: test
        args: --verbose
