name: Continuous Integration Configuration

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

env:
  POSTGRES_USER: quantiz
  POSTGRES_DB: quantiz
  POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
  POSTGRES_PORT: 5432
  POSTGRES_HOST: localhost
  API_VERSION: v0
jobs:
  ci:
    runs-on: ubuntu-latest
    container: 
      image: alpine   
    services:
      postgres:
        image: postgres:alpine
        env:
          POSTGRES_USER: ${{env.POSTGRES_USER}}
          POSTGRES_DB: ${{env.POSTGRES_DB}}
          POSTGRES_PASSWORD: ${{env.POSTGRES_PASSWORD}}
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
    - uses: actions/checkout@v2
    - name: Set environment variables
      run: |
        echo $POSTGRES_USER
        echo $POSTGRES_DB
        echo $POSTGRES_PASSWORD
        echo $POSTGRES_PORT
        echo $POSTGRES_HOST
        echo $DATABASE_URL
        echo $API_VERSION
        echo "::set-env name=DATABASE_URL::postgres://${{env.POSTGRES_USER}}:${{env.POSTGRES_PASSWORD}}@${{env.POSTGRES_HOST}}:${{env.POSTGRES_PORT}}/${{env.POSTGRES_DB}}"
        echo "::set-env name=ROCKET_DATABASES::{quantiz_db={url="${{env.DATABASE_URL}}"}}"
    - name: Install latest nightly
      uses: actions-rs/toolchain@v1
      with:
          toolchain: nightly
          override: true
          components: clippy
    - name: Install diesel CLI
      run: cargo install diesel_cli
    - name: Hook up diesel -> postgres
      run: diesel setup --database-url=$DATABASE_URL
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose